<h1>Event List</h1>
<%= paginate @events %>
<% @events.each do |event| %>
  <ul>
    <li>
        <%= link_to event_path(event), :class => "btn btn-default" do %>
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><%= event.name%>
        <% end %>
        <%#= link_to 'Show', event_path(event) %>
        <%= link_to " (XML)", event_path(event, :format => :xml) %>
        <%= link_to " (JSON)", event_path(event, :format => :json) %>
        <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-default" %>
        <%= link_to event_path(event), :data => { :confirm => "are you sure?" }, :method => :delete, :class => "btn btn-danger" do %>
            <%=icon("remove")%> 刪除
        <% end %>
    </li>
  </ul>
<%end%>
<%= paginate @events %><br>
<%= link_to 'New Event', new_event_path%>

<%= link_to '#', :id => "event_form_show", :class => "btn btn-primary" do %>
    <%=icon("plus")%> 新增活動
<% end %>

<%= link_to "XML", events_path(:format => :xml) %>
<%= link_to "JSON", events_path(:format => :json) %>
<%= link_to "Atom feed", events_path(:format => :atom) %><br>
<%= link_to 'Home', root_path %>

<div id="event_form">
<%= form_for @event, :url => events_path do |f| %>
    <%= render 'form', :f => f %>
    <%= f.submit "Create" %>
<% end %>
</div>


<p><%#= debug(@events) %></p>

<script>
$("#event_form").hide();

$("#event_form_show").click(function(){
    $("#event_form").fadeToggle();
});
</script>