<h1>Event List</h1>
<%= paginate @events %>
<% @events.each do |event| %>
  <ul>
    <li>
        <%= link_to event.name, event_path(event) %>
        <%#= link_to 'Show', event_path(event) %>
        <%= link_to " (XML)", event_path(event, :format => :xml) %>
        <%= link_to " (JSON)", event_path(event, :format => :json) %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event_path(event), :data => { :confirm => "are you sure?" }, :method => :delete %>
    </li>
  </ul>
<%end%>
<%= paginate @events %>
<%= link_to 'New Event', new_event_path%><br>
<%= link_to "XML", events_path(:format => :xml) %>
<%= link_to "JSON", events_path(:format => :json) %>
<%= link_to "Atom feed", events_path(:format => :atom) %><br>
<%= link_to 'Home', root_path %>


<p><%= debug(@events) %></p>